* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; 
    color: #fff; 
}

nav {
    background-color: #333; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700; 
}

.about-section {
    padding: 50px;
    border-radius: 15px; 
    margin-top: 10vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.resume h3 {
    margin-top: 30px;
    font-size: 24px; 
}

.resume ul {
    padding-left: 20px;
}

.resume li {
    margin-bottom: 15px;
    font-size: 18px;
}

/* Animation */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    animation-name: fadeInUp;
}

.about-section h2,
.about-section h3,
.about-section ul,
.about-section li {
    animation: fadeInUp 1s ease forwards;
}

/* Collapsible sections */
.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #444;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 0;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; 
}
